{{template "base" .}}

{{define "content"}}
 <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-3">Make Reservation</h1>

                {{$res := index .Data "reservation"}}
                <form action="" method="post" class="" novalidate>
                <input type="hidden" name= "csrf_token" value= {{.CSRFToken}}>
                   
                    <div class="form-group mt-3">
                        <label for="first_name" >First Name:</label>
                        {{with .Form.Err.Get "first_name" }} 
                        <label for="first_name" class="text-danger">{{ . }}</label>
                        {{end}}
                        <input type="text" id="first_name"  value="{{$res.FirstName}}" name="first_name" class="form-control {{with .Form.Err.Get "first_name"}}is-invalid{{end}}" required autocomplete="off">
                    </div>  

                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        {{with .Form.Err.Get "last_name" }} 
                        <label for="last_name" class="text-danger">{{ . }}</label>
                        {{end}}
                        <input type="text" id="last_name" value="{{$res.LastName}}" name="last_name"  class="form-control {{with .Form.Err.Get "last_name"}}is-invalid{{end}}" required  autocomplete="off">
                    </div>

                    <div class="form-group">                      
                        <label for="email_id">Email:</label>
                        {{with .Form.Err.Get "email_id" }} 
                        <label for="email_id" class="text-danger">{{ . }}</label>
                        {{end}}
                        <input type="email" id="email_id" value="{{$res.Email}}" name="email_id"  class="form-control {{with .Form.Err.Get "email_id"}}is-invalid{{end}}" required   autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="text" id="phone" name="phone" value="{{$res.Phone}}"	 class="form-control" required   autocomplete="off" >
                    </div>

                    <hr>
                    <input type="submit" class="btn btn-primary" value="Make Reservation"> 
                </form>              
            </div>
        </div>

</div>
      
{{end}}

